<li>
  <%= gravatar_for user, :size => 30 %>

  <%= link_to user.name, user %>

  <%#Following is for delete link, only for admin users that are NOT the current
     user. You don't want to delete yourself. %>
  <% if current_user.admin? && current_user != user%>
  | <%= link_to "delete", user, :method => :delete, :confirm => "You sure?",
                                :title => "Delete #{user.name}" %>
  <% end %>
</li>
