<table class = "profile">
  <tr>
    <td class = "main">
    
      <% if !(@user.microposts.empty?) %>
        <table class = "microposts" summary ="User microposts index">
          <%= render @microposts %>
        </table>
      <%else%>
        <%= @user.name %> has nothing to say... better get posting.
      <% end %>
    </td>
  </tr>
</table>
